*{
  /*background: #F3F5FC;*/
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

html{
background: #FFFFFF;
padding: 40px 40px 0;
min-height: 400px;
background: #F3F5FC;
}

html, body{
height: 100%;
}

body{
max-width: 1440px;
max-height: 1024px;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: stretch;
/*column-gap:10px;*/
}

header{
flex-basis: 120px;
}

main{
flex-basis: 40%;
/*background: pink;*/
margin: 40px 30px 40px 0;
display: flex;
justify-content: space-between;
flex-direction: column;
padding-bottom: 30px;
}

textarea{
display:block;
width:100%;
/*height: 90%;*/
/*background: yellow;*/
padding: 0 40px;
border: none;
resize: none;
background: #F3F5FC;
margin: 5px;

}

main textarea{
color: #0A3871;
font-size: 32px;
line-height: 48px;
letter-spacing: 0em;
flex-basis: 80%;
}

::placeholder {
color: #0A3871;
opacity: 1;
}

aside {
flex-basis: 30%;
/*background: purple;*/
background: #FFFFFF;
margin: 40px 40px 40px 0;
display: flex;
justify-content: center;/*space-between;*/
flex-direction: column;
/*padding-bottom: 30px;*/
padding:30px;
border-radius: 32px;
font-family: 'Inter', sans-serif;
align-items: center;

}



aside textarea{
/*max-width: 400px;*/
margin: 0 auto;
color: #495057;
line-height: 36px;
background: #FFFFFF;
border-radius: 32px;
flex-basis: 70%;
display:none;
padding: 10px 0 0;

}

aside img {
max-width:100%;
}

aside h2{
font-size: 24px;
/*font-style: bold;*/
font-weight: 700;
line-height: 120%;
text-align: center;
margin: 20px 20px 10px;
max-width: 300px;
}

aside p{
font-size: 16px;
line-height: 150%;
text-align: center;
max-width: 300px;
}


.btn-copiar{
width: 70%;
margin: 0 auto;
height: 60px;
text-align: center; 
font-size: 16px;
border-radius: 24px;
border: 1px solid #0A3871;
color: #0A3871;
display:none;
}

.contenedor-btn{
display: flex;
flex-flow: row wrap;
justify-content: space-around;
width: 100%;
margin: 0 auto;
flex-basis: 10%;

}

.btn-encriptar, .btn-desencriptar{
width: 47%;
height: 60px;
text-align: center; 
font-size: 16px;
border-radius: 24px;
border: 1px solid #0A3871;
color: #0A3871;
}

.btn-encriptar{
background: #0A3871;
color: #FFFFFF;
}

textarea:focus{
    outline: none;  
}

@media  (max-height: 560px){
aside img{
  display:none;
}
}

@media (max-width: 800px){
html{
  padding: 40px 0;
}

body {
  flex-flow: column nowrap;
}

aside img{
  display: none;
}

header{
  margin: 0;
}

main, aside{
  margin: 0 40px;
}

main{
  flex-basis: 60%;
}

aside{
  flex-basis: 30%;
}

textarea{
  padding: 0;
}

aside h2, aside p{
  max-width: 500px;
}

}

@media (max-width: 374px){

html{
  min-width: 290px;
  padding: 20px 0;
}
header{
  margin: 0 0 0 -20px;
}

main, aside{
  margin: 0 20px;
}

}